@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
  url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 300;
}

/*NAGŁÓWEK*/
header {
  padding: 20px 0;
}

header .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}
/*-----------*/

/*JUMBO*/
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../img/meds.jpeg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 2px 2px 2px rgba(0, 22, 82, 1) !important;
  margin-bottom: 70px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #176e9a;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #759bb6;
}

.jumbo-thin{
  display: flex;
  align-items: center;
  background-size: cover;
  height: 100px;
}

.paczka {
  color: black;
  text-shadow: none;
  background-color: #d8d7dd;
  padding: 30px 20px 30px 20px;
  align-content: center;
  border-radius:5px;
  justify-content: center;
  display: inline-block;
  /*box-shadow: 2px 2px 1px #cccbd1;*/
}

.paczka a{
  color: #176e9a;
  text-shadow: none;
}
/*-----------*/

/*FOOTER*/
footer {
  background-color: #d8d7dd;
  font-size: 12px;
  padding: 20px 0;
  background-size: cover;
  display: flex;
  margin-top: 20px;
}

footer .col-sm-1 {
float:right;
}

/*footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

footer .row {
  display: flex;
  align-items: center;
}
/*-----------*/

/*BUTTONS*/
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: white;
  text-shadow: none;
  background-color: #caae89;
  margin-right: 5px;
}

.btn.btn-primary:hover {
  color: white;
  background-color: #988255;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}
/*-----------*/

/*SEKCJA*/
/*section{
	top-margin: 30px;
}*/

section .row img {
  margin: 0 0 30px;
  width: 100%;
}
/*-----------*/

/*KLOCKI*/
/*color:#176e9a;*/


.col-md-6 {
  margin: 0 0 30px;
}

.col-sm-3 {
	/*display: right;*/
	align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display:block;
}

.klocki {
  text-align: center;
  padding: 20px 20px 20px 20px;
  display: block;
  }

/*-----------*/

#navbar {
  float: left;
  position: relative;
}


